.custom-fab {
	position: fixed;
	width: 50px;
	height: auto;
	right: 50px; bottom: 50px;
}
.custom-fab div {
	position: relative; width: 100%;
	height: auto;
}
.custom-fab .btn {
	position: absolute;
	bottom: 0;
	border-radius: 50%;
	display: block;
	width: 40px; height: 40px;
	margin: 4px auto;
}
.custom-fab .btn-main {
	width: 50px; height: 50px;
	right: 50%; margin-right: -25px;
	z-index: 9;
}
